<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/carrinho.css') }}">
    <title>pedido</title>
</head>
<body>
    <h1>Aqui está seus produtos</h1>
    {% if not carrinho %}
        <h1>Nenhum produto no carrinho</h1>
        <p>Vá para o <a href="{{ url_for('cardapio') }}">cardapio</a> para adicionar mais elemento no carrinho</p>
    {% else %}
        {% for produto in carrinho %}
        <div class="produtos">
            <div class="img">
                <img src="{{ url_for('static', filename='imagens/' + produto.ilustracao) }}" alt="">   
            </div>         
            <p><strong>nome: {{produto['nome']}}</strong></p>
            <p><strong>Unidade: {{produto['quantidade']}}</strong></p>
            <p><strong>valor: {{produto['valor']}}</strong></p>
            <form action="" method="post">
                <button name="botao" value="add-{{ produto.id ~ '' }} " class="btn-action">Adicionar</button>
                <button name="botao" value="del-{{ produto.id ~ '' }} " class="btn-action">Excluir</button>
                <button name="botao" value="ret-{{ produto.id ~ '' }} " class="btn-action">Retirar</button>
            </form>
        </div>
        {% endfor %}
    {% endif %}
        
    <script>
    window.onload = function() {
        document.getElementById("meuFormulario").reset();
    };
</script>
</body>
</html>